/*****COLORS*****/
/*****FONT WEIGHT*****/
.ui-loader-header {
  display: none !important;
  visibility: hidden !important;
}

body {
  padding: 0;
  margin: 0;
  background-color: #151515;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}

em {
  font-style: normal;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

i {
  font-style: italic;
  font-weight: inherit;
  color: inherit;
}

nav {
  z-index: 10;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 0 8vw;
  background-color: #1C1C1C;
  color: white;
  align-items: center;
  justify-content: center;
}
nav h1 {
  font-size: 24px;
  width: auto;
  flex: 1 1 auto;
  text-transform: uppercase;
  font-weight: 300;
}
nav h1 span {
  font-weight: 700;
}
nav .pages {
  display: flex;
  align-items: center;
}
nav .pages a {
  display: inline-block;
  margin-left: 2vw;
  font-weight: 300;
  text-decoration: none;
}
nav .pages .icons {
  margin-left: 1vw;
}
nav .pages .icons a {
  padding: 8px;
  width: 22px;
  height: 22px;
  margin-left: 0.2vw;
}
nav .pages .icons a img {
  width: 100%;
  height: 100%;
}
nav .hamburgerToggle {
  visibility: hidden;
  display: none;
  width: 20px;
  height: 17px;
  align-self: center;
  background: transparent;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
}
nav .hamburgerToggle .line {
  position: relative;
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  transition: all 0.5s cubic-bezier(0.5, 0.28, 0, 1);
  transform-origin: center;
}
nav .hamburgerToggle .line:nth-child(2) {
  margin: 4px 0px;
}
nav .hamburgerToggle.active .line:nth-child(1) {
  transform: translateY(7px) rotate(-135deg);
}
nav .hamburgerToggle.active .line:nth-child(2) {
  opacity: 0;
}
nav .hamburgerToggle.active .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.header-section {
  margin: 70px 8vw 0 8vw;
  width: 84vw;
  height: calc(100vh - 70px);
}
.header-section::before {
  content: "";
  z-index: -2;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 45% 50px;
}
.header-section::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  background-image: linear-gradient(180deg, rgba(21, 21, 21, 0) 0%, rgba(21, 21, 21, 0) 50%, rgb(21, 21, 21) 95%);
  background-size: cover;
  background-position: 50% 50%;
}
.header-section .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header-section .title h1 {
  margin: 0;
  font-size: 120px;
  font-weight: 550;
  color: #06d6a0;
  line-height: 140px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header-section .title h2 {
  margin: 20px 10px;
  line-height: 1.35em;
  font-size: 35px;
}
.header-section .scroll-down-indicator {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -10px);
  width: 40px;
  padding-top: 10px;
  opacity: 0.7;
}
.header-section .scroll-down-indicator img {
  width: 100%;
}

.about_me-section {
  margin: 70px 12vw 0 12vw;
  position: relative;
}
.about_me-section #about-me {
  content: "";
  position: absolute;
  top: calc(-8vw - 30px);
}
.about_me-section .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(8vw + 30px) 0 5vw 0;
}
.about_me-section .header .image {
  width: 400px;
  height: 400px;
  position: relative;
}
.about_me-section .header .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/about.jpg");
  filter: brightness(0.25);
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.about_me-section .header .image h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  text-align: center;
  margin: 0;
  font-size: 150px;
  font-weight: 700;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.about_me-section .header .image h1 .ligne {
  content: "";
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 9vw;
  height: 4px;
  background: #06d6a0;
}
.about_me-section .header .image h2 {
  position: absolute;
  width: 90vw;
  top: calc(50% + 140px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.about_me-section .header .image h2 em {
  color: #06d6a0;
  font-style: normal;
}
.about_me-section .content {
  margin: 0 12vw;
}
.about_me-section .content p, .about_me-section .content p a {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-align: justify;
}
.about_me-section .content p em, .about_me-section .content p a em {
  font-style: normal;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.portfolio-section {
  margin: 0 12vw 50px 12vw;
  position: relative;
}
.portfolio-section #portfolio {
  content: "";
  position: absolute;
  top: -8.5vw;
}
.portfolio-section .title {
  margin: 8.5vw 0 8.5vw 0;
}
.portfolio-section .title h1 {
  font-size: 120px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  letter-spacing: 7px;
}
.portfolio-section .title h1 .ligne {
  content: "";
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 9vw;
  height: 4px;
  background: #06d6a0;
}
.portfolio-section .projects .project h1 {
  color: white;
  font-size: 28px;
  font-weight: 500;
}
.portfolio-section .projects .project p {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}
.portfolio-section .projects .project p.projectDesc {
  text-align: justify;
}
.portfolio-section .projects .project p em {
  font-style: normal;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}
.portfolio-section .projects .project p span {
  display: block;
  padding-top: 6px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 300;
}
.portfolio-section .projects .project .grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  overflow: hidden;
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
}
.portfolio-section .projects .project .grid .imgContainer {
  position: relative;
  background: #1C1C1C;
  overflow: hidden;
}
.portfolio-section .projects .project .grid .imgContainer.hover:hover .desc {
  opacity: 1;
}
.portfolio-section .projects .project .grid .imgContainer.hover:hover img, .portfolio-section .projects .project .grid .imgContainer.hover:hover video {
  transform: scale(1.1);
}
.portfolio-section .projects .project .grid .imgContainer.large {
  grid-column: span 3;
  grid-row: span 2;
}
.portfolio-section .projects .project .grid .imgContainer.large:nth-child(n+2) {
  grid-column-end: -1;
}
.portfolio-section .projects .project .grid .imgContainer.medium {
  grid-column: span 2;
  grid-row: span 1;
}
.portfolio-section .projects .project .grid .imgContainer.small {
  grid-column: span 1;
  grid-row: span 1;
}
.portfolio-section .projects .project .grid .imgContainer.tall {
  grid-column: span 2;
  grid-row: span 2;
}
.portfolio-section .projects .project .grid .imgContainer img,
.portfolio-section .projects .project .grid .imgContainer video {
  transition: transform 300ms ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio-section .projects .project .grid .imgContainer .desc {
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 20px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
  opacity: 0;
}
.portfolio-section .projects .project .grid .imgContainer .desc h3 {
  padding: 0 5%;
  margin: 0 0 20px 0;
  text-shadow: black 0px 0px 5px;
}
.portfolio-section .projects .project .grid .imgContainer .desc h3::first-letter {
  text-transform: capitalize;
}
.portfolio-section .projects .project .grid .imgContainer .desc p {
  font-weight: 300;
  color: white;
  padding: 0 5%;
  text-shadow: black 0px 0px 3px;
}
.portfolio-section .projects .project .grid .imgContainer .desc p::first-letter {
  text-transform: capitalize;
}
.portfolio-section .projects .project .grid .imgContainer .desc p em {
  color: white;
  font-style: normal;
}
.portfolio-section .projects .project .grid .imgContainer .desc span {
  font-weight: 300;
  position: absolute;
  bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.portfolio-section .projects .project .grid .imgContainer.large .desc h3 {
  font-size: 2.6vw;
}
.portfolio-section .projects .project .grid .imgContainer.large .desc p {
  font-size: 1vw;
}
.portfolio-section .projects .project .grid .imgContainer.large .desc span {
  font-size: 16px;
}
.portfolio-section .projects .project .grid .imgContainer.medium .desc h3 {
  font-size: 2vw;
  margin: 10px 0;
}
.portfolio-section .projects .project .grid .imgContainer.medium .desc p {
  font-size: 0.8vw;
}
.portfolio-section .projects .project .grid .imgContainer.medium .desc span {
  font-size: 13px;
}
.portfolio-section .projects .project .grid .imgContainer.small .desc h3 {
  font-size: 1.875vw;
}
.portfolio-section .projects .project .grid .imgContainer.small .desc p {
  font-size: 0.625vw;
}
.portfolio-section .projects .project .grid .imgContainer.small .desc span {
  bottom: 10px;
  font-size: 11px;
}
.portfolio-section .projects .project .grid .imgContainer.tall .desc h3 {
  font-size: 2vw;
}
.portfolio-section .projects .project .grid .imgContainer.tall .desc p {
  font-size: 1vw;
}
.portfolio-section .projects .project .grid .imgContainer.tall .desc span {
  font-size: 13px;
}
.portfolio-section .projects .project .seeMore {
  display: flex;
  width: 100%;
  padding: 1vh 0;
  margin-bottom: 6vh;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.portfolio-section .projects .project .seeMore a {
  padding: 2vh 1vw;
  text-decoration: none;
  font-size: 18px;
}
.portfolio-section .projects .project .seeMore a:hover {
  text-decoration: underline;
}
.portfolio-section .projects .overlay {
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.95);
  text-align: center;
  padding: 40px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.portfolio-section .projects .overlay .close {
  position: absolute;
  cursor: pointer;
  padding: 15px;
  right: 8vw;
  width: 24px;
  height: 24px;
  fill: white;
}
.portfolio-section .projects .overlay .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio-section .projects .overlay .content .horizontal {
  flex: 1 1;
  height: 1px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.portfolio-section .projects .overlay .content .horizontal .mediaContainer {
  width: 70%;
  height: 100%;
}
.portfolio-section .projects .overlay .content .horizontal .mediaContainer .overlayImg,
.portfolio-section .projects .overlay .content .horizontal .mediaContainer .overlayVid {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.portfolio-section .projects .overlay .content .horizontal img.NavigateBefore,
.portfolio-section .projects .overlay .content .horizontal img.NavigateNext {
  pointer-events: all;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.portfolio-section .projects .overlay .content .bottomNav {
  display: none;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  justify-content: space-around;
}
.portfolio-section .projects .overlay .content .bottomNav img.NavigateBefore,
.portfolio-section .projects .overlay .content .bottomNav img.NavigateNext {
  pointer-events: all;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.portfolio-section .projects .overlay .content h1 {
  flex: 0 1 36px;
  font-size: 36px;
  margin-bottom: 0;
}
.portfolio-section .projects .overlay .content h1::first-letter {
  text-transform: capitalize;
}
.portfolio-section .projects .overlay .content p {
  flex: 0 1 18px;
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.portfolio-section .projects .overlay .content p::first-letter {
  text-transform: capitalize;
}
.portfolio-section .projects .overlay .content p a {
  display: block;
  padding-top: 5px;
}
.portfolio-section .projects .overlay > p {
  position: absolute;
  bottom: 1vh;
  margin-bottom: 0;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8vw;
}
.portfolio-section .projects .overlay em {
  font-style: normal;
}
.portfolio-section .section-title h2 {
  color: white;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #06d6a0;
  margin: 70px 0 25px 0;
  font-size: 38px;
}
.portfolio-section .section-title p {
  margin: 0 0 25px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
}
.portfolio-section .experiment-projects {
  width: 100%;
  display: grid;
  gap: 20px;
  margin-bottom: 100px;
}
.portfolio-section .experiment-projects.three-col {
  grid-template-columns: repeat(3, 1fr);
}
.portfolio-section .experiment-projects.two-col {
  grid-template-columns: repeat(2, 1fr);
}
.portfolio-section .experiment-projects .experiment-project {
  background: #444444;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.portfolio-section .experiment-projects .experiment-project img, .portfolio-section .experiment-projects .experiment-project video {
  transition: transform 300ms ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio-section .experiment-projects .experiment-project .desc {
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.portfolio-section .experiment-projects .experiment-project .desc h3 {
  padding: 0 5%;
  margin: 10px 0;
  text-shadow: black 0px 0px 5px;
  font-size: 1.7vw;
  text-align: center;
}
.portfolio-section .experiment-projects .experiment-project .desc p {
  font-weight: 300;
  padding: 0 5%;
  margin-top: 0;
  text-shadow: black 0px 0px 3px;
  font-size: 0.9vw;
  text-align: center;
}
.portfolio-section .experiment-projects .experiment-project .desc p a {
  display: block;
  padding-top: 5px;
}
.portfolio-section .experiment-projects .experiment-project .desc span {
  font-weight: 300;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  bottom: 8px;
  font-size: 0.8vw;
}
.portfolio-section .experiment-projects .experiment-project.hover:hover .desc {
  opacity: 1;
}
.portfolio-section .experiment-projects .experiment-project.hover:hover img, .portfolio-section .experiment-projects .experiment-project.hover:hover video {
  transform: scale(1.1);
}

footer {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

/*****MEDIA QUERIES*****/
@media (min-width: 1000px) {
  nav .pages a {
    padding: 8px 15px;
  }
  nav .pages a:not(#contact):not(.icon) {
    margin-left: calc(2vw - 30px);
  }
  nav .pages a:not(#contact):not(.icon) span {
    padding-bottom: 8px;
    border-bottom: transparent 2px solid;
    transition: border-bottom 100ms ease-out;
  }
  nav .pages a:not(#contact):not(.icon) span:hover {
    border-bottom: #06d6a0 2px solid;
  }
  nav .pages a#contact {
    margin-left: calc(2vw - 15px);
    background-color: #5B7FFF;
    background-image: linear-gradient(to top right, #06d6a0 0%, transparent 100%);
    transition: background-color 300ms ease-in-out;
    border-radius: 5px;
  }
  nav .pages a#contact:hover {
    background-color: #4695E7;
  }
}
@media (max-width: 1200px) {
  .header-section::before {
    background-position: 65% -50px;
  }
  .header-section::after {
    background-image: linear-gradient(180deg, rgba(21, 21, 21, 0) 0%, rgba(21, 21, 21, 0) 80%, rgb(21, 21, 21) 95%);
  }
  .header-section .title {
    top: 70%;
  }
  .header-section .title h1 {
    font-size: 110px;
    line-height: 120px;
  }
  .header-section .title h2 {
    font-size: 25px;
  }
  .header-section .scroll-down-indicator {
    transform: translate(-50%, -20px);
    width: 4vw;
  }
  .about_me-section {
    margin-top: 100px;
  }
  .about_me-section .header .image h1 {
    top: 60%;
    font-size: 120px;
  }
  .about_me-section .header .image h1 .ligne {
    top: 10px;
  }
  .about_me-section .header .image h2 {
    font-size: 24px;
  }
  .about_me-section .content {
    margin: 0 8vw;
  }
  .about_me-section .content p, .about_me-section .content p a {
    font-size: 16px;
  }
  .portfolio-section {
    margin-top: 150px;
  }
  .portfolio-section .title h1 {
    font-size: 120px;
  }
  .portfolio-section .projects .project h1 {
    font-size: 26px;
  }
  .portfolio-section .projects .project p, .portfolio-section .projects .project p span {
    font-size: 16px;
  }
  .portfolio-section .projects .project .grid .imgContainer,
  .portfolio-section .projects .project .grid .video {
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .portfolio-section .projects .project .grid .imgContainer.large .desc span,
  .portfolio-section .projects .project .grid .video.large .desc span {
    font-size: 1.3vw;
  }
  .portfolio-section .projects .project .grid .imgContainer.medium .desc span,
  .portfolio-section .projects .project .grid .video.medium .desc span {
    font-size: 1.1vw;
  }
  .portfolio-section .projects .project .grid .imgContainer.small .desc span,
  .portfolio-section .projects .project .grid .video.small .desc span {
    font-size: 0.9vw;
  }
  .portfolio-section .projects .overlay p {
    bottom: 10px;
    font-size: 11px;
  }
}
@media (max-width: 1000px) {
  nav {
    height: 50px;
  }
  nav .hamburgerToggle {
    visibility: visible;
    display: block;
  }
  nav .pages {
    display: none;
    visibility: visible;
    transform: scaleY(0);
    transform-origin: top;
  }
  nav .pages.visible {
    transition: transform 300ms ease-in-out;
    transform: scaleY(1);
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50px;
    background: #1C1C1C;
    border-top: 1px solid #151515;
  }
  nav .pages.visible a, nav .pages.visible .icons {
    padding: 1.5vh 0;
    margin: 0;
    display: flex;
    justify-content: center;
    transition: background-color 300ms ease-in-out;
  }
  nav .pages.visible > a {
    width: 100%;
    box-sizing: border-box;
  }
  nav .pages.visible > a:hover {
    background-color: #242424;
  }
  nav .pages.visible > a span {
    font-size: 2vh;
    padding: 5px 0;
  }
  nav .pages.visible > a span:hover {
    border: none;
  }
  nav .pages.visible .icons a {
    box-sizing: content-box;
    height: 2.2vh;
    width: 2.2vh;
    padding: 0 15px;
  }
  .header-section {
    margin-top: 50px;
    height: calc(100vh - 50px);
  }
  .header-section::before {
    top: 50px;
    background-position: 60%;
    background-attachment: scroll;
  }
  .header-section::after {
    top: 50px;
    background-image: linear-gradient(180deg, rgba(21, 21, 21, 0) 0%, rgba(21, 21, 21, 0) 85%, rgb(21, 21, 21) 95%);
  }
  .header-section .title {
    top: 70%;
  }
  .header-section .title h1 {
    font-size: 10vw;
    line-height: 11vw;
  }
  .header-section .title h2 {
    font-size: 2.5vw;
  }
  .about_me-section #about-me {
    top: calc(-8vw - 50px);
  }
  .portfolio-section #portfolio {
    top: calc(-8vw - 50px);
  }
  .portfolio-section .projects .overlay {
    top: 50px;
  }
  .portfolio-section .projects .overlay h1 {
    font-size: 3.6vw;
  }
  .portfolio-section .projects .overlay p, .portfolio-section .projects .overlay p span {
    font-size: 1.8vw;
  }
  .portfolio-section .projects .overlay .NavigateBefore,
  .portfolio-section .projects .overlay .NavigateNext {
    width: 80px;
  }
  .portfolio-section .projects .project .grid .imgContainer.small .desc span, .portfolio-section .projects .project .grid .imgContainer.medium .desc span, .portfolio-section .projects .project .grid .imgContainer.large .desc span,
  .portfolio-section .projects .project .grid .video.small .desc span, .portfolio-section .projects .project .grid .video.medium .desc span, .portfolio-section .projects .project .grid .video.large .desc span {
    bottom: 5px;
  }
}
@media (max-width: 850px) {
  .portfolio-section .experiment-projects.three-col {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-section .experiment-projects.three-col .experiment-project {
    grid-row: 2;
    grid-column: auto;
  }
  .portfolio-section .experiment-projects.three-col .experiment-project .desc h3 {
    font-size: 3vw;
  }
  .portfolio-section .experiment-projects.three-col .experiment-project .desc p {
    font-size: 1.3vw;
  }
  .portfolio-section .experiment-projects.three-col .experiment-project .desc span {
    bottom: 1.3vw;
    font-size: 1.1vw;
  }
  .portfolio-section .experiment-projects.three-col .experiment-project:nth-child(2) {
    grid-row: 1;
    grid-column: span 2;
  }
  .portfolio-section .experiment-projects.three-col .experiment-project:nth-child(2) .desc h3 {
    font-size: 4.2vw;
  }
  .portfolio-section .experiment-projects.three-col .experiment-project:nth-child(2) .desc p {
    font-size: 1.6vw;
  }
  .portfolio-section .experiment-projects.three-col .experiment-project:nth-child(2) .desc span {
    bottom: 2vw;
    font-size: 1.5vw;
  }
}
@media (max-width: 800px) {
  .about_me-section .header .image h1 {
    top: 65%;
    font-size: 95px;
  }
  .about_me-section .header .image h1 .ligne {
    top: 6px;
  }
  .about_me-section .content {
    margin: 0 3vw;
  }
  .portfolio-section .title h1 {
    font-size: 85px;
  }
  .portfolio-section .projects .project h1 {
    font-size: 24px;
  }
  .portfolio-section .projects .project p, .portfolio-section .projects .project p span {
    font-size: 18px;
  }
  .portfolio-section .projects .project .seeMore a {
    font-size: 16px;
  }
  .portfolio-section .projects .overlay .mediaContainer {
    width: 90%;
  }
}
@media (max-width: 700px) {
  .about_me-section .header .image h1 {
    top: 65%;
    font-size: 85px;
  }
  .about_me-section .header .image h1 .ligne {
    top: 6px;
  }
  .about_me-section .header .image h2 {
    font-size: 20px;
  }
  .about_me-section .content p, .about_me-section .content p a {
    font-size: 16px;
  }
  .portfolio-section .projects .overlay .content .horizontal img.NavigateBefore,
  .portfolio-section .projects .overlay .content .horizontal img.NavigateNext {
    display: none;
  }
  .portfolio-section .projects .overlay .content .horizontal .mediaContainer {
    width: 100%;
  }
  .portfolio-section .projects .overlay .content .bottomNav {
    display: flex;
  }
  .portfolio-section .projects .overlay .content .bottomNav img.NavigateBefore,
  .portfolio-section .projects .overlay .content .bottomNav img.NavigateNext {
    width: 75px;
    height: 75px;
  }
  .portfolio-section .section-title h2 {
    font-size: 32px;
  }
}
@media (max-width: 510px) {
  .about_me-section .header {
    margin-bottom: 50px;
  }
  .about_me-section .header .image {
    width: 80vw;
    height: 80vw;
  }
  .about_me-section .header .image h1 {
    top: 70%;
    font-size: 65px;
  }
  .about_me-section .header .image h1 .ligne {
    top: 6px;
  }
  .about_me-section .header .image h2 {
    margin-top: 0;
    top: calc(50% + 150px);
  }
  .about_me-section .content {
    margin: 0;
  }
  .about_me-section .content p, .about_me-section .content p a {
    font-size: 16px;
  }
  .portfolio-section .title h1 {
    font-size: 62px;
  }
  .portfolio-section .projects .project h1 {
    font-size: 20px;
  }
  .portfolio-section .projects .project p, .portfolio-section .projects .project p span {
    font-size: 16px;
  }
  .portfolio-section .section-title h2 {
    margin-top: 40px;
    font-size: 28px;
  }
  .portfolio-section .section-title p {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .about_me-section .header .image h1 {
    top: 75%;
    font-size: 55px;
  }
  .portfolio-section .title {
    margin-bottom: 20vw;
  }
  .portfolio-section .title h1 {
    font-size: 50px;
  }
  .portfolio-section .projects .project h1 {
    font-size: 20px;
  }
  .portfolio-section .projects .project p, .portfolio-section .projects .project p span {
    font-size: 16px;
  }
}
@media (max-device-width: 800px) {
  .portfolio-section .projects .overlay p {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */