/*****COLORS*****/
/*****FONT WEIGHT*****/
body {
  padding: 0;
  margin: 0;
  background-color: #151515;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
}

nav {
  z-index: 10;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 0 8vw;
  background-color: #1C1C1C;
  color: white;
  align-items: center;
}

nav h1 {
  font-size: 24px;
  width: auto;
  flex: 1 1 auto;
  text-transform: uppercase;
  font-weight: 300;
}

nav h1 span {
  font-weight: 700;
}

nav .pages a {
  display: inline-block;
  margin-left: 2vw;
  font-weight: 300;
  text-decoration: none;
}

nav .pages a span {
  padding-bottom: 8px;
  transition: border-bottom 100ms ease-out;
}

nav .pages a span:hover {
  border-bottom: #06d6a0 2px solid;
}

nav .hamburgerToggle {
  visibility: hidden;
  display: none;
  width: 20px;
  height: 17px;
  align-self: center;
  background: transparent;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
}

nav .hamburgerToggle .line {
  position: relative;
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  transition: all 0.5s cubic-bezier(0.5, 0.28, 0, 1);
  transform-origin: center;
}

nav .hamburgerToggle .line:nth-child(2) {
  margin: 4px 0px;
}

nav .hamburgerToggle.active .line:nth-child(1) {
  transform: translateY(7px) rotate(-135deg);
}

nav .hamburgerToggle.active .line:nth-child(2) {
  opacity: 0;
}

nav .hamburgerToggle.active .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.header-section {
  margin: 70px 8vw 0 8vw;
  width: 84vw;
  height: calc(100vh - 70px);
}

.header-section::before {
  content: "";
  z-index: -2;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 45% 50px;
}

.header-section::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  background-image: linear-gradient(180deg, rgba(21, 21, 21, 0) 0%, rgba(21, 21, 21, 0) 50%, #151515 95%);
  background-size: cover;
  background-position: 50% 50%;
}

.header-section .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header-section .title h1 {
  margin: 0;
  font-size: 120px;
  font-weight: 550;
  color: #06d6a0;
  line-height: 140px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-section .title h2 {
  margin: 20px 10px;
  font-size: 35px;
}

.header-section .scroll-down-indicator {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -10px);
  width: 40px;
  opacity: 0.7;
}

.about_me-section {
  margin: 70px 12vw 0 12vw;
  position: relative;
}

.about_me-section #about-me {
  content: "";
  position: absolute;
  top: calc(-8vw - 70px);
}

.about_me-section .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(8vw + 30px) 0 5vw 0;
}

.about_me-section .header .image {
  width: 400px;
  height: 400px;
  position: relative;
}

.about_me-section .header .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/about.jpg");
  filter: brightness(0.25);
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.about_me-section .header .image h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  text-align: center;
  margin: 0;
  font-size: 150px;
  font-weight: 700;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.about_me-section .header .image h1 .ligne {
  content: "";
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 9vw;
  height: 4px;
  background: #06d6a0;
}

.about_me-section .header .image h2 {
  position: absolute;
  width: 90vw;
  top: calc(50% + 140px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.about_me-section .header .image h2 em {
  color: #06d6a0;
}

.about_me-section .content {
  margin: 0 17vw;
}

.about_me-section .content p {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  text-align: justify;
}

.portfolio-section {
  margin: 0 12vw 0 12vw;
  position: relative;
}

.portfolio-section #portfolio {
  content: "";
  position: absolute;
  top: -8.5vw;
}

.portfolio-section .title {
  margin: 8.5vw 0 8.5vw 0;
}

.portfolio-section .title h1 {
  font-size: 120px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  letter-spacing: 7px;
}

.portfolio-section .title h1 .ligne {
  content: "";
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 9vw;
  height: 4px;
  background: #06d6a0;
}

.portfolio-section .projects .project h1 {
  color: white;
  font-size: 34px;
  font-weight: 500;
}

.portfolio-section .projects .project h2 {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  line-height: 28px;
  font-weight: 300;
}

.portfolio-section .projects .project h2.projectDesc {
  text-align: justify;
}

.portfolio-section .projects .project .grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  overflow: hidden;
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
}

.portfolio-section .projects .project .grid .img,
.portfolio-section .projects .project .grid .video {
  position: relative;
  background: #1C1C1C;
  overflow: hidden;
}

.portfolio-section .projects .project .grid .img.hover:hover .desc,
.portfolio-section .projects .project .grid .video.hover:hover .desc {
  opacity: 1;
}

.portfolio-section .projects .project .grid .img.hover:hover img,
.portfolio-section .projects .project .grid .video.hover:hover img {
  transform: scale(1.1);
}

.portfolio-section .projects .project .grid .img.large,
.portfolio-section .projects .project .grid .video.large {
  grid-column: span 3;
  grid-row: span 2;
}

.portfolio-section .projects .project .grid .img.large:nth-child(n+2),
.portfolio-section .projects .project .grid .video.large:nth-child(n+2) {
  grid-column-end: -1;
}

.portfolio-section .projects .project .grid .img.medium,
.portfolio-section .projects .project .grid .video.medium {
  grid-column: span 2;
  grid-row: span 1;
}

.portfolio-section .projects .project .grid .img.small,
.portfolio-section .projects .project .grid .video.small {
  grid-column: span 1;
  grid-row: span 1;
}

.portfolio-section .projects .project .grid .img img,
.portfolio-section .projects .project .grid .video img {
  transition: transform 300ms ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-section .projects .project .grid .img video,
.portfolio-section .projects .project .grid .video video {
  transition: transform 300ms ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-section .projects .project .grid .img .desc,
.portfolio-section .projects .project .grid .video .desc {
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 20px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
  opacity: 0;
}

.portfolio-section .projects .project .grid .img .desc h1,
.portfolio-section .projects .project .grid .video .desc h1 {
  padding: 0 5%;
  margin: 0 0 20px 0;
  text-shadow: black 0px 0px 5px;
}

.portfolio-section .projects .project .grid .img .desc h2,
.portfolio-section .projects .project .grid .video .desc h2 {
  font-weight: 300;
  color: white;
  padding: 0 5%;
  text-shadow: black 0px 0px 3px;
}

.portfolio-section .projects .project .grid .img .desc span,
.portfolio-section .projects .project .grid .video .desc span {
  font-weight: 300;
  position: absolute;
  bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.portfolio-section .projects .project .grid .img.large .desc h1,
.portfolio-section .projects .project .grid .video.large .desc h1 {
  font-size: 2.6vw;
}

.portfolio-section .projects .project .grid .img.large .desc h2,
.portfolio-section .projects .project .grid .video.large .desc h2 {
  font-size: 1vw;
}

.portfolio-section .projects .project .grid .img.large .desc span,
.portfolio-section .projects .project .grid .video.large .desc span {
  font-size: 16px;
}

.portfolio-section .projects .project .grid .img.medium .desc h1,
.portfolio-section .projects .project .grid .video.medium .desc h1 {
  font-size: 2vw;
  margin: 10px 0;
}

.portfolio-section .projects .project .grid .img.medium .desc h2,
.portfolio-section .projects .project .grid .video.medium .desc h2 {
  font-size: 0.8vw;
}

.portfolio-section .projects .project .grid .img.medium .desc span,
.portfolio-section .projects .project .grid .video.medium .desc span {
  font-size: 13px;
}

.portfolio-section .projects .project .grid .img.small .desc h1,
.portfolio-section .projects .project .grid .video.small .desc h1 {
  font-size: 1.875vw;
}

.portfolio-section .projects .project .grid .img.small .desc h2,
.portfolio-section .projects .project .grid .video.small .desc h2 {
  font-size: 0.625vw;
}

.portfolio-section .projects .project .grid .img.small .desc span,
.portfolio-section .projects .project .grid .video.small .desc span {
  bottom: 10px;
  font-size: 11px;
}

.portfolio-section .projects .project .seeMore {
  display: flex;
  width: 100%;
  padding: 1vh 0;
  margin-bottom: 6vh;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.portfolio-section .projects .project .seeMore a {
  padding: 2vh 1vw;
  text-decoration: none;
  font-size: 18px;
}

.portfolio-section .projects .project .seeMore a:hover {
  text-decoration: underline;
}

.portfolio-section .projects .overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.95);
  text-align: center;
  padding: 40px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.portfolio-section .projects .overlay .close {
  position: absolute;
  cursor: pointer;
  padding: 15px;
  right: 8vw;
  width: 24px;
  height: 24px;
  fill: white;
}

.portfolio-section .projects .overlay img.NavigateNext {
  position: fixed;
  pointer-events: all;
  cursor: pointer;
  width: 100px;
  height: 100px;
  right: 8vw;
  top: calc(50% - 40px);
}

.portfolio-section .projects .overlay img.NavigateBefore {
  position: fixed;
  pointer-events: all;
  cursor: pointer;
  width: 100px;
  height: 100px;
  left: 8vw;
  top: calc(50% - 40px);
}

.portfolio-section .projects .overlay .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-section .projects .overlay .content .overlayImg {
  width: 70%;
}

.portfolio-section .projects .overlay .content h1 {
  flex: 0 1 36px;
  font-size: 36px;
  margin-bottom: 0;
}

.portfolio-section .projects .overlay .content h2 {
  flex: 0 1 18px;
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.portfolio-section .projects .overlay p {
  position: absolute;
  bottom: 1vh;
  margin-bottom: 0;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8vw;
}

.portfolio-section .projects .overlay em {
  font-style: normal;
}

/*****MEDIA QUERIES*****/
@media (max-width: 1200px) {
  .header-section::before {
    background-position: 65% -50px;
  }
  .header-section::after {
    background-image: linear-gradient(180deg, rgba(21, 21, 21, 0) 0%, rgba(21, 21, 21, 0) 80%, #151515 95%);
  }
  .header-section .title {
    top: 70%;
  }
  .header-section .title h1 {
    font-size: 110px;
    line-height: 120px;
  }
  .header-section .title h2 {
    font-size: 25px;
  }
  .header-section .scroll-down-indicator {
    transform: translate(-50%, -20px);
    width: 4vw;
  }
  .about_me-section {
    margin-top: 100px;
  }
  .about_me-section .header .image h1 {
    top: 60%;
    font-size: 120px;
  }
  .about_me-section .header .image h1 .ligne {
    top: 10px;
  }
  .about_me-section .header .image h2 {
    font-size: 24px;
  }
  .about_me-section .content {
    margin: 0 12vw;
  }
  .portfolio-section {
    margin-top: 150px;
  }
  .portfolio-section .title h1 {
    font-size: 120px;
  }
  .portfolio-section .projects .project h1 {
    font-size: 28px;
  }
  .portfolio-section .projects .project h2 {
    font-size: 18px;
  }
  .portfolio-section .projects .project .grid .img,
  .portfolio-section .projects .project .grid .video {
    position: relative;
  }
  .portfolio-section .projects .project .grid .img.large .desc span,
  .portfolio-section .projects .project .grid .video.large .desc span {
    font-size: 1.3vw;
  }
  .portfolio-section .projects .project .grid .img.medium .desc span,
  .portfolio-section .projects .project .grid .video.medium .desc span {
    font-size: 1.1vw;
  }
  .portfolio-section .projects .project .grid .img.small .desc span,
  .portfolio-section .projects .project .grid .video.small .desc span {
    font-size: 0.9vw;
  }
  .portfolio-section .projects .overlay .content .overlayImg {
    width: 85%;
  }
  .portfolio-section .projects .overlay p {
    bottom: 10px;
    font-size: 11px;
  }
}

@media (max-width: 1000px) {
  nav {
    height: 50px;
  }
  nav .hamburgerToggle {
    visibility: visible;
    display: block;
  }
  nav .pages {
    display: none;
    visibility: visible;
    transform: scaleY(0);
    transform-origin: top;
  }
  nav .pages.visible {
    transition: transform 300ms ease-in-out;
    transform: scaleY(1);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100vw;
    top: 50px;
    background: #1C1C1C;
    border-top: 1px solid #151515;
  }
  nav .pages.visible a {
    box-sizing: border-box;
    width: 100%;
    padding: 1.5vh 0;
    margin: 0;
    display: flex;
    justify-content: center;
    transition: background-color 300ms ease-in-out;
  }
  nav .pages.visible a:hover {
    background-color: #242424;
  }
  nav .pages.visible a span {
    font-size: 2vh;
  }
  nav .pages.visible a span:hover {
    border: none;
  }
  .header-section {
    margin-top: 50px;
    height: calc(100vh - 50px);
  }
  .header-section::before {
    top: 50px;
    background-position: 60%;
    background-attachment: scroll;
  }
  .header-section::after {
    top: 50px;
    background-image: linear-gradient(180deg, rgba(21, 21, 21, 0) 0%, rgba(21, 21, 21, 0) 85%, #151515 95%);
  }
  .header-section .title {
    top: 70%;
  }
  .header-section .title h1 {
    font-size: 10vw;
    line-height: 11vw;
  }
  .header-section .title h2 {
    font-size: 2.5vw;
  }
  .about_me-section #about-me {
    top: calc(-8vw - 50px);
  }
  .portfolio-section #portfolio {
    top: calc(-8vw - 50px);
  }
  .portfolio-section .projects .overlay {
    top: 50px;
  }
  .portfolio-section .projects .overlay h1 {
    font-size: 3.6vw;
  }
  .portfolio-section .projects .overlay h2 {
    font-size: 1.8vw;
  }
  .portfolio-section .projects .overlay .NavigateBefore {
    left: 4vw;
  }
  .portfolio-section .projects .overlay .NavigateNext {
    right: 4vw;
  }
  .portfolio-section .projects .project .grid .img.small .desc span, .portfolio-section .projects .project .grid .img.medium .desc span, .portfolio-section .projects .project .grid .img.large .desc span,
  .portfolio-section .projects .project .grid .video.small .desc span, .portfolio-section .projects .project .grid .video.medium .desc span, .portfolio-section .projects .project .grid .video.large .desc span {
    bottom: 5px;
  }
}

@media (max-width: 800px) {
  .about_me-section .header .image h1 {
    top: 65%;
    font-size: 95px;
  }
  .about_me-section .header .image h1 .ligne {
    top: 6px;
  }
  .about_me-section .content {
    margin: 0 8vw;
  }
  .about_me-section .content p {
    font-size: 18px;
  }
  .portfolio-section .title h1 {
    font-size: 85px;
  }
  .portfolio-section .projects .project h1 {
    font-size: 30px;
  }
  .portfolio-section .projects .project h2 {
    font-size: 18px;
  }
  .portfolio-section .projects .project .seeMore a {
    font-size: 16px;
  }
  .portfolio-section .projects .overlay .overlayImg {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .about_me-section .header .image h1 {
    top: 65%;
    font-size: 85px;
  }
  .about_me-section .header .image h1 .ligne {
    top: 6px;
  }
  .about_me-section .header .image h2 {
    font-size: 20px;
  }
  .about_me-section .content p {
    font-size: 16px;
  }
  .portfolio-section .projects .overlay img.NavigateNext {
    right: 45% !important;
    top: 95% !important;
    transform: translate(100%, -100%);
    width: 70px !important;
    height: 70px !important;
  }
  .portfolio-section .projects .overlay img.NavigateBefore {
    left: 45% !important;
    top: 95% !important;
    transform: translate(-100%, -100%);
    width: 70px !important;
    height: 70px !important;
  }
  .portfolio-section .projects .overlay .content .overlayImg {
    width: 100%;
  }
}

@media (max-width: 510px) {
  .about_me-section .header {
    margin-bottom: 50px;
  }
  .about_me-section .header .image {
    width: 80vw;
    height: 80vw;
  }
  .about_me-section .header .image h1 {
    top: 70%;
    font-size: 65px;
  }
  .about_me-section .header .image h1 .ligne {
    top: 6px;
  }
  .about_me-section .header .image h2 {
    margin-top: 0;
  }
  .about_me-section .content {
    margin: 0;
  }
  .portfolio-section .title h1 {
    font-size: 65px;
  }
  .portfolio-section .projects .project h1 {
    font-size: 26px;
  }
  .portfolio-section .projects .project h2 {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .about_me-section .header .image h1 {
    top: 75%;
    font-size: 55px;
  }
  .portfolio-section .title {
    margin-bottom: 20vw;
  }
  .portfolio-section .title h1 {
    font-size: 50px;
  }
  .portfolio-section .projects .project h1 {
    font-size: 24px;
  }
  .portfolio-section .projects .project h2 {
    font-size: 16px;
  }
}

@media (max-device-width: 800px) {
  .portfolio-section .projects .overlay p {
    display: none;
  }
}
